.card-test-bg {
    background: #00000025;
}
body {
    min-height: 100%;
    background: linear-gradient(0.5turn, #260a06, #321008) 100%;
}
.bs {
    border: solid;
}

.btn-bg {
    background: #f7e1d4e2;

    .btn-text {
        color: #50251c;
    }
}

.btn-bg:hover {
    background: linear-gradient(to right, #2e0e07, #42130b);

    .btn-text {
        color: #fceee5;
        // color: #ffffff49;
    }
}

.card-bg {
    background: linear-gradient(to right bottom, #270b05, #3c1008);
}

.app {
    background: linear-gradient(0.5turn, #260a06, #321008) 100%;
    justify-content: center;
    display: flex;
    color: rgb(240, 234, 234);
}

.text {
    font-size: medium;
    line-height: 25px;
    font-family: "Inter", sans-serif;
    color: #f3f3f2c7;

    .title {
        font-size: 1.8em;
        color: #fceee5;
    }

    .middle-title {
        font-size: 1em;
        font-weight: bold;
    }

    .paragraph {
        text-align: justify;
    }
}

.logo {
    font-size: 1.7em;
    font-family: "Chalkduster", fantasy;
    font-style: italic;
    color: #ffefe6ec;
}

.section {
    .subject {
        background-color: rgb(64, 31, 19);
        background-color: #967468;
        color: #80594a;
    }
}

.menu {
    text-transform: uppercase;
    font-size: 0.9em;
}

.menu:hover {
    cursor: pointer;
    text-decoration: underline;
}

.admin-icon {
    color: #fceee5;
}
.admin-icon:hover {
    cursor: pointer;
}
