.background {
    background: no-repeat linear-gradient(rgb(107, 74, 61), rgb(68, 42, 38));
    background: no-repeat linear-gradient(rgb(128, 85, 67), rgb(60, 38, 35));
    color: #f4e0d4;
}

.btn-bg {
    background: #fceee5;

    .btn-text {
        color: #50251c;
    }
}

.btn-bg:hover {
    background: linear-gradient(to right, #2e0e07, #42130b);

    .btn-text {
        color: #fceee5;
    }
}

.card-bg {
    background: linear-gradient(to right bottom, #2e0e07, #48140b);
}

.app {
    background: linear-gradient(0.5turn, #260a06, #321008) 100%;
    justify-content: center;
    display: flex;
    color: rgb(240, 234, 234);
}

.text {
    font-size: large;
    font-family: "Gill Sans", sans-serif;
    color: #f3eae5ec;

    .title {
        font-size: 1.8em;
        color: #f0eaea;
    }

    .middle-title {
        font-size: 1em;
        font-weight: bold;
    }

    .paragraph {
        text-align: justify;
    }
}

.logo {
    font-size: 2em;
    font-family: "Chalkduster", fantasy;
    font-style: italic;
}

.section {
    .subject {
        background-color: rgb(64, 31, 19);
        background-color: #967468;
        color: #80594a;
    }
}

.menu{
    text-transform: uppercase;
    font-size: 0.9em;
}
.menu:hover{
    cursor: pointer;
    text-decoration: underline;
}
.bs {
    border: solid;
}